html,
body {
    height: 100%;
    font-family: "Open Sans" , sans-serit;
    color: yellowgreen;
}
h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

p{
    font-size: 13px;
    color: mediumaquamarine;
    line-height: 2;

}

img {
    max-width: 100%;
}